.movies {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.movies h2 {
    font-size: 1.75rem;
    line-height: 2.125rem;
    font-weight: 700;
}

.movies div {
    height: 640px;
    width: 300px;
    list-style: none;
    overflow: auto;
}

.movies ul {
    display: flex;
    flex-direction: column;
    gap: 28px;
}